{% extends 'base.html' %}
{% load static %}
{% block body %}
<h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Phone Number: {{ user.phone_number }}</li>
    <li> Email: {{ user.email }}</li>
  <li>Birth Date: {{ user.profile.birth_date }}</li>
</ul>


<div class="UpdatingProfile">
    <h2>Updating Profile</h2>
    <form class="site-form" action="/profile.html" method="post">
        {{ csrf_token }}
        {{ u_form.as_p }}
        {{ p_form.as_p }}
            <button type="submit">Submit</button>


    </form>
    </div>
{% endblock %}
