{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forever Nails & Spa </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Forever Nails & Spa</h1>
  <p>Service Menu</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Nails Service</h3>
      <p>Solar Full Set(clear tips): $25</p>
      <p>Solar Full Set(white tips): $28</p>
        <p>Refill: $18</p>
<p>Solar Full Set(Pink & White: $35</p>
<p>Glitter Full Set: $35</p>
<p>Refill(Pink & White): $30</p>
<p>Dipping Powder: $35</p>
<p>Color Powder Full Set: $35</p>
<p>Refill(same color): $25</p>
<p>Refill(different color): $33</p>
<p>Nail Repair: $3+</p>
<p>Nail Take Off: $5+</p>
<p>Cut Down: $3</p>
<p>Color Change(hand nails): $7</p>
<p>Color Change(toe nails): $8</p>
<p>French Tips: $5</p>
<p>UV Gel: $3</p>
<p>Longer & Different Shape: $5+</p>
    </div>
    <div class="col-sm-4">
      <h3>Gel Nail (Shellac)</h3>
      <p>Shellac Manicure: $25</p>
      <p>Shellac Pedicure: $37</p>
    </div>
    <div class="col-sm-4">
      <h3>Facial</h3>
      <p>Regular: $35
(Clean, scrub, exfoliation, remove breakouts, and massage)</p>
      <p>Deluxe: $45
(includes Regular, with addition of facial mask that renews skin and longer massage.)</p>
    </div>
  </div>
</div>

</body>
</html>
