{% load static %}

<html>
    <head>
        <title>Forever Nails & Spa</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <style>
        span {
        display: block;
        }
    </style>

    </head>
    <body>
        <div>
            <h1><a href="/">Forever Nails & Spa</a></h1>
            </div>

        <div>

        <p1>Nail Services:</p1>
        </div>
<p2>
    <span>Solar Full Set(clear tips): $25 </span>
<span>Solar Full Set(white tips): $28 </span>
<span>Refill: $18</span>
<span>Solar Full Set(Pink & White): $35</span>
<span>Glitter Full Set: $35</span>
<span>Refill(Pink & White): $30</span>
<span>Dipping Powder: $35</span>
<span>Color Powder Full Set: $35</span>
<span>Refill(same color): $25</span>
<span>Refill(different color): $33</span>
<span>Nail Repair: $3+</span>
<span>Nail Take Off: $5+</span>
<span>Cut Down: $3</span>
<span>Color Change(hand nails): $7</span>
<span>Color Change(toe nails): $8</span>
<span>French Tips: $5</span>
<span>UV Gel: $3</span>
<span>Longer & Different Shape: $5+</span>
</p2>

        </div>