<!DOCTYPE html>
<html lang="en">
{% load static %}
    <html>
        <head>

        <title>Forever Nails & Spa</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    {% block head %}
            {% endblock%}


            <h1>Forever Nails & Spa</h1>
<ul>
    <li><a class="active" href="Home">Home</a></li>
    <li><a href="ServiceMenu">Service Menu</a></li>
    <li><a href="Contact">Contact Us</a></li>
    <li><a href="location">Location</a></li>
    <li><a href="accounts/login">Log In</a></li>
</ul>
            {% block body %}
            {% endblock %}


